@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

/*navegador - header*/
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: grey;
  padding: 5px 2px 5px 2px;
  border: solid 1px black;
  margin-bottom: 0px; }
  header section {
    margin: 0 auto;
    padding: 8px; }
    header section div {
      margin: 20px 5px 20px 10px;
      padding: 10px; }
    header section .logo {
      width: 80px;
      height: 80px;
      border-radius: 70%; }
    header section .menu-abrir {
      font-size: 40px;
      color: white;
      display: none; }
    header section .menu-cerrar {
      font-size: 25px;
      margin-left: 120px;
      margin-bottom: 35px;
      margin-top: 0px;
      padding-top: 0px;
      font-weight: bold;
      color: #a19191;
      display: none; }

nav {
  margin: 10px 15px 10px 10px;
  padding: 10px;
  position: relative; }
  nav a {
    text-decoration: none;
    color: grey; }
    nav a:hover {
      color: black; }
  nav ul li {
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    padding: 10px; }
    nav ul li:hover {
      border: solid black 1px;
      color: black; }

.lista-redes {
  display: inline-block;
  text-decoration: none; }
  .lista-redes i {
    font-size: 35px;
    color: white; }

/*media redes*/
@media (max-width: 707px) {
  .lista-redes {
    display: none; }
  header {
    height: 130px; } }

@media (max-width: 514px) {
  header section .menu-abrir {
    display: block;
    margin-left: 200px;
    margin-right: 0px;
    margin-top: 10px; }
  header section .menu-cerrar {
    display: block; }
  nav {
    position: absolute;
    top: -400px;
    margin: 0px;
    padding-top: 4px; }
    nav:target {
      top: 0px; }
    nav ul {
      display: flex;
      flex-direction: column; }
      nav ul li {
        height: 38px;
        width: 100%; }
        nav ul li a {
          display: block;
          align-items: center;
          text-align: center;
          border-radius: 10%;
          height: 25px;
          margin-top: 0px;
          margin-bottom: 15px;
          padding: 5px; } }

@media (max-width: 370px) {
  header section .menu-abrir {
    margin-left: 150px; } }

@media (max-width: 320px) {
  header section .menu-abrir {
    margin-left: 100px; } }

/*generales e index*/
main {
  background-color: #fae6e0;
  margin-bottom: 0px;
  margin-top: 0px; }

.tituloIndex {
  width: 100%;
  text-align: center;
  color: grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  padding: 20px;
  font-size: 30pt;
  margin-bottom: 0px;
  text-decoration: underline; }

.backIntro {
  margin-left: 30px;
  height: 400px;
  background-image: url(../img/backgroundInn.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3%;
  border: solid 3px #726d6d; }
  .backIntro .parrIntro {
    width: 630px;
    padding: 160px 30px 100px 260px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    font-family: 'Tauri', sans-serif;
    font-size: 120%;
    font-weight: bold;
    animation-name: intro;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: linear; }

@keyframes intro {
  0% {
    transform: translateY(90px);
    opacity: 0; }
  25% {
    transform: translateY(70px); }
  50% {
    opacity: 0.5;
    transform: translateY(50px); }
  75% {
    transform: translateY(30px);
    opacity: 1; }
  100% {
    transform: translateY(10px); } }

.fotoXi {
  margin-top: 10px;
  width: 350px;
  height: 350px;
  border-radius: 5%;
  border: solid black 2px;
  animation-name: Ximefoto;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: linear; }

@keyframes Ximefoto {
  0% {
    transform: translateX(260px); }
  25% {
    transform: translateX(150px); }
  50% {
    transform: translateX(100px); }
  75% {
    transform: translateX(50px); }
  100% {
    transform: translateX(20px); } }

main section a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 40px; }
  main section a:hover {
    color: grey;
    border: solid grey 2px; }
  main section a span {
    font-weight: bold; }

.Staff {
  margin-top: 70px;
  padding-top: 3px;
  margin-bottom: 10px;
  text-align: center;
  color: grey;
  font-size: 1.7rem;
  text-decoration: underline; }

.Staffh3 {
  padding-top: 3px;
  margin-bottom: 3px;
  text-align: center;
  color: grey;
  font-size: 0.9rem; }

#estilosCarru {
  display: flex;
  justify-content: center;
  padding-bottom: 30px; }

.jsCarru {
  color: black !important;
  text-decoration: none; }
  .jsCarru .Acarru {
    color: black !important;
    text-decoration: underline;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: rgba(250, 250, 250, 0.8);
    border: solid 1px black;
    border-style: dotted; }
    .jsCarru .Acarru:hover {
      background-color: grey;
      border: solid pink 2px; }

/*media para pantalla más chicas Index*/
@media only screen and (max-width: 1200px) {
  .backIntro {
    margin-left: 0px; }
    .backIntro .parrIntro {
      width: 530px;
      padding-left: 300px;
      padding-right: 70px;
      margin-left: 0px;
      color: grey;
      font-size: 90%; }
  .SeccionXi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .fotoXi {
    margin-left: 25px;
    width: 300px;
    height: 300px; } }

@media only screen and (max-width: 1000px) {
  .backIntro {
    background-image: url(../img/backgroundfondo.jpg);
    border: none; }
    .backIntro .parrIntro {
      width: 600px;
      padding-right: 200px;
      margin-left: 40px;
      padding-left: 190px;
      padding-top: 170px;
      font-size: 75%; }
  .fotoXi {
    margin-top: 45px; } }

@media (max-width: 960px) {
  .backIntro .parrIntro {
    padding-left: 170px; } }

@media (max-width: 940px) {
  .backIntro .parrIntro {
    width: 550px; } }

@media (max-width: 832px) {
  .backIntro .parrIntro {
    padding-left: 140px; } }

@media (max-width: 798px) {
  .backIntro .parrIntro {
    padding-left: 110px; } }

@media (max-width: 766px) {
  .backIntro .parrIntro {
    width: 600px;
    padding-right: 200px;
    margin-left: 80px;
    padding-left: 200px;
    padding-top: 170px;
    font-size: 72%; }
  #CelularCarru {
    height: 60px;
    font-size: smaller;
    padding-bottom: 20%; }
  .jsCarru .Acarru {
    font-size: 0.8rem;
    border-style: none; }
  .fotoXi {
    margin-top: 10px;
    width: 250px;
    height: 250px; } }

@media (max-width: 721px) {
  .backIntro .parrIntro {
    margin-left: 50px;
    padding-left: 210px; } }

@media (max-width: 667px) {
  .backIntro .parrIntro {
    margin-left: 30px;
    padding-left: 200px; } }

@media (max-width: 620px) {
  .backIntro .parrIntro {
    margin-left: 10px;
    padding-left: 180px; } }

@media (max-width: 546px) {
  main .tituloIndex {
    padding: 10px;
    font-size: 23pt; }
  .backIntro .parrIntro {
    padding-right: 100px;
    padding-left: 150px;
    width: 470px; }
  .jsCarru {
    font-size: 0.7rem; }
    .jsCarru .Acarru {
      font-size: 0.8rem; } }

@media (max-width: 502px) {
  .backIntro .parrIntro {
    width: 450px;
    padding-left: 130px; } }

@media (max-width: 460px) {
  .backIntro .parrIntro {
    width: 400px;
    padding-left: 120px;
    padding-top: 190px; } }

@media (max-width: 415px) {
  .backIntro .parrIntro {
    padding-right: 120px;
    padding-left: 100px;
    padding-top: 190px;
    width: 420px; } }

@media (max-width: 360px) {
  main .tituloIndex {
    padding-top: 15px;
    padding-bottom: 0px;
    font-size: 19pt; }
  .backIntro .parrIntro {
    padding-right: 150px;
    padding-left: 70px;
    width: 420px; } }

@media (max-width: 324px) {
  .backIntro .parrIntro {
    padding-left: 50px; } }

/*HTML ServiciosMédicos*/
.estiloSM {
  width: 100%;
  height: 600px;
  background-image: url(../img/atencionvirtual.jpg);
  background-repeat: space;
  background-position: center;
  color: grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: grid;
  grid-template-areas: "titulo titulo titulo" "endocrino clinica nutri" "endocrino clinica nutri" "endocrino  clinica nutri"; }
  .estiloSM .endo, .estiloSM .clinica, .estiloSM .nutrición {
    grid-area: endocrino;
    margin-left: 150px;
    height: 150px;
    font-weight: bold;
    font-size: 15pt;
    color: #302e2b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation-name: animacion;
    animation-iteration-count: 1;
    animation-duration: 1.2s;
    animation-delay: 0s;
    animation-timing-function: ease-in; }
    .estiloSM .endo .pEndoClinNutri, .estiloSM .clinica .pEndoClinNutri, .estiloSM .nutrición .pEndoClinNutri {
      width: 70%;
      text-align: center;
      border: grey;
      border-radius: 15%;
      text-decoration: underline;
      background-color: #807676; }
    .estiloSM .endo .listas-SM, .estiloSM .clinica .listas-SM, .estiloSM .nutrición .listas-SM {
      text-decoration: none;
      list-style-position: inside;
      padding: 7px;
      list-style-type: none; }
      .estiloSM .endo .listas-SM .paddingIL, .estiloSM .clinica .listas-SM .paddingIL, .estiloSM .nutrición .listas-SM .paddingIL {
        padding: 20px; }
        .estiloSM .endo .listas-SM .paddingIL .estilo-A-SM, .estiloSM .clinica .listas-SM .paddingIL .estilo-A-SM, .estiloSM .nutrición .listas-SM .paddingIL .estilo-A-SM {
          background-color: rgba(250, 250, 250, 0.8);
          padding: 8px; }
          .estiloSM .endo .listas-SM .paddingIL .estilo-A-SM:hover, .estiloSM .clinica .listas-SM .paddingIL .estilo-A-SM:hover, .estiloSM .nutrición .listas-SM .paddingIL .estilo-A-SM:hover {
            color: grey;
            text-decoration: underline;
            border: solid grey 2px; }
  .estiloSM .clinica, .estiloSM .nutrición {
    grid-area: clinica;
    margin-left: 3px; }
  .estiloSM .nutrición {
    grid-area: nutri; }

@keyframes animacion {
  0% {
    transform: translateY(90px);
    opacity: 0; }
  25% {
    transform: translateY(70px); }
  50% {
    opacity: 0.5;
    transform: translateY(50px); }
  75% {
    transform: translateY(30px);
    opacity: 1; }
  100% {
    transform: translateY(10px); } }

.titulo-SM {
  font-family: Georgia, 'Times New Roman', Times, serif;
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30pt;
  font-weight: normal;
  text-align: center;
  text-decoration: underline;
  height: 100px; }

/*medias queries para Servicios Médicos*/
@media (max-width: 1010px) {
  .estiloSM {
    display: grid;
    grid-template-areas: "titulo titulo titulo" "none endocrino endocrino " "none  clinica  clinica" "none  nutri   nutri";
    background-image: url(../img/telemedicina.jpg); }
    .estiloSM .endo, .estiloSM .clinica, .estiloSM .nutrición {
      margin-left: 0px; }
  @keyframes animacion {
    0% {
      transform: translateX(260px);
      opacity: 0; }
    25% {
      transform: translateX(150px);
      opacity: 0.5; }
    50% {
      transform: translateX(100px);
      opacity: 0.7; }
    75% {
      transform: translateX(50px);
      opacity: 1; }
    100% {
      transform: translateX(20px); } }
  .titulo-SM {
    font-size: 20pt;
    height: 50px; } }

/*HTML Contacto*/
.h1Contacto {
  color: grey;
  text-align: center;
  text-decoration: underline;
  padding: 30px;
  height: 30px; }

.h2Contacto {
  color: grey;
  text-align: center;
  text-decoration: underline;
  padding: 0px 20px 20px 20px;
  height: 20px;
  margin-bottom: 10px; }

.section1 {
  width: 100%;
  height: 600px;
  background-image: url(../img/contacto2.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px; }
  .section1 .div1 {
    color: grey;
    font-weight: bold;
    margin: 40px;
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(250, 250, 250, 0.8);
    border-radius: 10px; }
    .section1 .div1 .articles1 {
      font-size: 20px;
      width: 20%;
      margin: 35px 35px;
      text-align: center;
      padding: 40px 20px;
      background-color: whitesmoke; }
      .section1 .div1 .articles1 select {
        color: grey;
        padding: 3px; }
      .section1 .div1 .articles1 option {
        color: #cf4fbe;
        font-weight: bold;
        padding: 3px; }

.section2 {
  width: 100%;
  height: 600px;
  background-image: url(../img/contacto.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section2 label {
    color: grey;
    font-size: 1.1rem;
    border: solid 1px grey;
    border-radius: 10%;
    font-weight: bold;
    padding: 2px; }
  .section2 input {
    margin-top: 3px;
    border-radius: 5%;
    color: grey;
    font-weight: bold;
    padding: 3px; }
  .section2 textarea {
    width: 500px; }

/*media para Contacto*/
@media (max-width: 576px) {
  .section1 .div1 {
    height: 490px; }
    .section1 .div1 .articles1 {
      font-size: 12px;
      height: 100px;
      width: 15%; }
  .section2 textarea {
    width: 390px; } }

@media (max-width: 375px) {
  .section1 .div1 {
    height: 395px; }
    .section1 .div1 .articles1 {
      margin: 8px;
      width: 19%; } }

/*HTML Dr. JorgeLopez y todos los doctores*/
.JorgeLopez {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
  font-weight: normal;
  text-decoration: underline;
  text-align: center;
  margin-left: 20px; }

.introDR {
  border-style: inset;
  text-align: center;
  color: grey;
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 40px 50px;
  height: 180px; }

.turnosH2 {
  color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3em;
  font-weight: normal;
  text-align: center;
  text-decoration: underline; }

fieldset legend, fieldset p, fieldset label {
  color: grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3rem;
  font-weight: normal;
  text-align: center; }

fieldset p {
  font-size: 1rem; }

fieldset label {
  font-size: 1.1rem;
  border: solid 1px grey;
  border-radius: 10%;
  font-weight: bold;
  padding: 2px; }

fieldset input {
  border-radius: 5%;
  color: grey;
  font-weight: bold;
  padding: 3px; }

.fondos-JL {
  background-image: radial-gradient(lightpink, pink, white); }

/*Medias de doctores para pantallas más chicas*/
@media (max-width: 992px) {
  .mediaFotoDr {
    text-align: center; }
  .mediaFotoDra {
    text-align: center;
    margin-top: 40px; } }

@media (max-width: 768px) {
  .mediaFotoDr {
    margin-top: 15px; }
  .JorgeLopez {
    margin-bottom: 0px; }
  .introDR {
    margin-top: 0px;
    margin-bottom: 30¡5px;
    font-size: 0.9rem; }
  .fotoDraXimena {
    display: none; }
  .turnosH2 {
    padding-top: 25px;
    font-size: 0.9rem; }
  fieldset legend, fieldset p, fieldset label {
    font-size: 1rem; }
  fieldset p {
    font-size: 0.7rem; }
  fieldset label {
    font-size: 1rem; } }

/*footer*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: grey;
  padding: 10px;
  border: solid 1px black;
  margin: 0px;
  grid-area: footer; }
  footer .derechos {
    font-size: 70%;
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-style: italic;
    border: none;
    margin: 5px;
    padding: 0px;
    width: 250px; }
  footer .redes-Footer {
    margin-right: 133px; }
    footer .redes-Footer i {
      font-size: 35px;
      color: white; }

/*media para el footer*/
@media (max-width: 531px) {
  footer .derechos {
    width: 150px;
    font-size: 60%; }
  footer .redes-Footer {
    margin-right: 10px; } }
