
/*navegador - header*/
header { display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: flex-start; 
  background-color: grey; 
  padding: 5px 2px 5px 2px;
  border: solid 1px black;
  margin-bottom: 0px;
  section {margin: 0 auto; 
    padding: 8px; 
             div {   
                margin: 20px 5px 20px 10px;
                padding: 10px}  
                
               .logo {
                   width:80px;
                   height:80px; 
                   border-radius: 70%;}
              .menu-abrir{font-size: 40px;
                   color: white;
                   display: none;}
              .menu-cerrar {font-size: 25px;
                     margin-left: 80px;
                     font-weight: bold;
                      color: grey;
                      display: none;}
                  
              }
  
}



nav {margin: 10px 15px 10px 10px;
   padding: 10px;
    position: relative;
   a {  text-decoration: none;
    color: grey;
      &:hover {color: black;} }
    ul li {display: inline-block;  
           background-color: white; 
           border-radius:20px ; 
           padding: 10px; 
           &:hover {border: solid black 1px;
          color:black;}
           
      }
  }
   
.lista-redes {display: inline-block; 
  text-decoration: none;
         i { font-size: 35px;
            color:white;}
        }


  /*media redes*/
  @media (max-width:707px) {
    .lista-redes {display: none;}
    header {height: 130px;}
  }



  @media (max-width: 514px) {
  header section  { 
    .menu-abrir {
      display: block;
       margin-left: 200px;
       margin-right: 0px;
       margin-top: 10px;}
    .menu-cerrar {
      display: block; }
   }

   nav {position: absolute;
    top: -400px;
    margin: 0px;
    &:target {top:0px;}

    ul {display: flex;
     flex-direction: column;
     
          li a {display: block; 
            text-align: center;
            border-radius: 10%;
            height: 17px;
            padding:1px;
           }
          }
         }
  }

  @media (max-width: 370px) {
    header section  { 
      .menu-abrir {
         margin-left: 150px;}
      }
    }

    @media (max-width: 320px) {
      header section  { 
        .menu-abrir {
           margin-left: 100px;}
        }
      }