
/*navegador - header*/
header { display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: flex-start; 
  background-color: grey; 
  padding: 5px 2px 5px 2px;
  border: solid 1px black;
  margin-bottom: 0px;
  section {margin: 0 auto; 
    padding: 8px; 
             div {   
                margin: 20px 5px 20px 10px;
                padding: 10px}  
                
               .logo {
                   width:80px;
                   height:80px; 
                   border-radius: 70%;}
           }
  
}



nav {margin: 10px 15px 10px 10px;
   padding: 10px;
   a {  text-decoration: none;
    color: grey;
      &:hover {color: black;} }
    ul li {display: inline-block;  
           background-color: white; 
           border-radius:20px ; 
           padding: 10px; 
           &:hover {border: solid black 1px;
          color:black;}
           
      }
  }
   
.lista-redes {display: inline-block; 
  text-decoration: none;
         i { font-size: 35px;
            color:white;}
        }


  /*media redes*/
  @media (max-width:695px) {
    .lista-redes {display: none;}
    header {height: 200px;}
  }

  @media (max-width: 419px) {
    nav a {
    width: 60px;
     font-size: 0.7rem ;}
  } 

  
  @media (max-width: 348px) {
    nav a {
    margin-left: 0px;
    margin-right: 0px;
    width: 40px;
     font-size: 0.6rem ;}
  } 
