
/*generales e index*/

main {  
    background-color:#fae6e0;
    margin-bottom: 0px;
     margin-top: 0px;}
  
  .tituloIndex {
    width: 100%;
    text-align: center; 
    color:grey; 
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-weight: bold;
    padding: 20px;
    font-size: 30pt;
    margin-bottom: 0px;
    text-decoration: underline; }
  
  .backIntro {
    margin-left: 30px;
    height: 400px;  
    background-image: url(../img/backgroundInn.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3%;
    border: solid 3px rgb(114, 109, 109);
    .parrIntro {   
      width: 630px;  
      padding: 160px 30px 100px 260px;
      margin-left: 20px;
      display: flex;
      justify-content: center;
      text-align: center;
      color: rgb(0, 0, 0);
      font-family: 'Tauri', sans-serif;
      font-size: 120%;
      font-weight: bold; 
      animation-name: intro;
       animation-iteration-count:1;
       animation-duration: 1s;
       animation-delay: 0s ;
      animation-timing-function: linear ;
      }
  }

   @keyframes intro {
     0% { transform: translateY(90px);
        opacity: 0;}
     25% {transform: translateY(70px)}
     50% {opacity: 0.5;
     transform: translateY(50px);}
     75% { transform: translateY(30px);
          opacity: 1;}
     100% { transform: translateY(10px);}
   }



  .fotoXi {
    margin-top: 10px;
    width: 350px;
    height: 350px;
    border-radius: 5%;
    border: solid black 2px;
    animation-name: Ximefoto;
    animation-iteration-count:1;
    animation-duration: 1s;
    animation-delay: 0s ;
    animation-timing-function: linear ;

    }

    @keyframes Ximefoto {
      0% {transform: translateX(260px);}
      25% {transform: translateX(150px);}
      50% {transform: translateX(100px);}
      75% {transform: translateX(50px);}
      100% {transform: translateX(20px);}
    }
  
  main section a {
    text-decoration: none; 
    color: black; 
    background-color: white;
    padding:10px;
    border-radius: 40px;
    &:hover {color: grey;
      border: solid grey 2px;}
      span {font-weight: bold;}
  }
  
  
  .Staff {
    margin-top: 70px;
    padding-top: 3px;
    margin-bottom: 10px;
    text-align: center;
    color: grey;
    font-size: 1.7rem;
   text-decoration: underline;}
  
  .Staffh3 {
    padding-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    color: grey;
    font-size: 0.9rem;
   }
  
    #estilosCarru {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
  
    }
  


  .jsCarru {
   color:black!important;
    text-decoration: none;  
    .Acarru {
      color: black !important;
      text-decoration: underline;
      font-size: 1.3rem;
      font-weight: bold;
      background-color: rgba(250, 250, 250, 0.8);
      border: solid 1px black;
      border-style: dotted;
       &:hover { background-color: grey;
        border: solid pink 2px;} }
  }
 
  
  
  
  /*media para pantalla más chicas Index*/
  @media only screen and (max-width: 1200px) {
     .backIntro{
      margin-left: 0px;       
      .parrIntro {
      width: 530px;
      padding-left: 300px;
      padding-right: 70px;
      margin-left: 0px;
      color: grey;
      font-size: 90%;
           }
          }

     
      .SeccionXi { 
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;}
  
     
      .fotoXi {
          margin-left:25px;
          width: 300px;
           height: 300px;}
  }

  
  @media only screen and (max-width: 1000px) { 
.backIntro {
  background-image: url(../img/backgroundfondo.jpg);
  border: none;
  .parrIntro {
  width: 600px;
  padding-right: 200px;
  margin-left: 40px;
  padding-left: 190px;
  padding-top: 170px;
  font-size: 75%;} }

.fotoXi {margin-top: 45px;}
  }

@media (max-width:960px) {
  .backIntro {
    .parrIntro {
    padding-left: 170px;}
      }
}


@media (max-width:940px) {
  .backIntro {
    .parrIntro {
    width: 550px;}
       }
  }

  
@media (max-width:832px) {
  .backIntro {
    .parrIntro {
    padding-left: 140px;}
       }
  }

  @media (max-width:798px) {
    .backIntro {
      .parrIntro {
      padding-left: 110px;}
         }
    }


  @media (max-width:766px) {
    .backIntro {
      
      .parrIntro {
      width: 600px;
      padding-right: 200px;
      margin-left: 80px;
      padding-left: 200px;
      padding-top: 170px;
      font-size: 72%;} }

    #CelularCarru {
      height: 60px;  
      font-size: smaller;
      padding-bottom: 20%;
    }
     .jsCarru {  .Acarru { 
       font-size: 0.8rem;  
      border-style: none; }
     }
    
    .fotoXi { 
    margin-top: 10px;
    width: 250px;
    height: 250px;
      }  

  }

  @media (max-width:721px) {
    .backIntro {
      
      .parrIntro {
     
      margin-left: 50px;
      padding-left: 210px;} 
    }
  }
  @media (max-width:667px) {
    .backIntro {
      .parrIntro {
      margin-left: 30px;
      padding-left: 200px;} 
    }
  }
  @media (max-width:620px) {
    .backIntro {
      .parrIntro {
      margin-left: 10px;
      padding-left: 180px;} 
    }
  }
 

  @media (max-width: 546px) {

  main  { .tituloIndex {
      padding: 10px;
      font-size: 23pt;
      } }

   .backIntro { .parrIntro { 
                             padding-right: 100px;
                             padding-left: 150px;
                             width: 470px ;}
                }

  .jsCarru {font-size: 0.7rem;
              .Acarru { font-size: 0.8rem;  }
            }
  
  }

  @media (max-width:502px) {
    .backIntro {
      .parrIntro {
      width: 450px;
      padding-left: 130px;} 
    }
  }
  @media (max-width:460px) {
    .backIntro {
      .parrIntro {
      width: 400px;
      padding-left: 120px;
      padding-top: 190px;} 
    }
  }

  @media (max-width: 415px) {

   .backIntro { .parrIntro { 
    padding-right: 120px;
    padding-left: 100px;
    padding-top: 190px;
    width: 420px ;}
   }
  
  }

  @media (max-width: 360px) {
    main  { .tituloIndex {
      padding-top: 15px;
      padding-bottom: 0px;
      font-size: 19pt;
      } }

    
     .backIntro { .parrIntro { 
      padding-right: 150px;
      padding-left: 70px;     
      width: 420px ;}
     }
    }

    @media (max-width: 324px) {
      .backIntro { .parrIntro { 
       padding-left: 50px; }
      }
     }