* { margin: 0;
    padding: 0;
  }

$texto: Georgia, 'Times New Roman', Times, serif;
$textoColor: grey;

@import "header";
@import "index";
@import "servicios";
@import "contacto";
@import "doctores";
@import "footer";